body {
    padding: 0;
    margin: auto;
    background: chocolate;
    font-family: Consolas, sans-serif;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 20px;
}

#map {
    /* this map MUST have a height otherwise it does not appear */
    height: 400px;
    width: 100%;
    z-index: 1;
}